# First load of the data

In [1]:
import pandas as pd
from sz_utils import data_handler

In [3]:
# load patients
patients = data_handler.get_patients()

# choose patient
patient = patients[7]

# load edfs
edfs_7 = data_handler.get_patient_edf(patient)

# see which edfs have seizure
sz_info_7 = data_handler.get_seizure_data(patient)
sz_info_7

       file_name  number_of_seizures start_end_times
0   chb08_02.edf                   1  [(2670, 2841)]
1   chb08_03.edf                   0             NaN
2   chb08_04.edf                   0             NaN
3   chb08_05.edf                   1  [(2856, 3046)]
4   chb08_10.edf                   0             NaN
5   chb08_11.edf                   1  [(2988, 3122)]
6   chb08_12.edf                   0             NaN
7   chb08_13.edf                   1  [(2417, 2577)]
8   chb08_14.edf                   0             NaN
9   chb08_15.edf                   0             NaN
10  chb08_16.edf                   0             NaN
11  chb08_17.edf                   0             NaN
12  chb08_18.edf                   0             NaN
13  chb08_19.edf                   0             NaN
14  chb08_20.edf                   0             NaN
15  chb08_21.edf                   1  [(2083, 2347)]
16  chb08_22.edf                   0             NaN
17  chb08_23.edf                   0             NaN
18  chb08_24.edf                   0             NaN
19  chb08_29.edf                   0             NaN

In [5]:
sz_info_7 = data_handler.get_seizure_data(patient)[sz_info_7['number_of_seizures'] > 0]
sz_info_7

       file_name  number_of_seizures start_end_times
0   chb08_02.edf                   1  [(2670, 2841)]
3   chb08_05.edf                   1  [(2856, 3046)]
5   chb08_11.edf                   1  [(2988, 3122)]
7   chb08_13.edf                   1  [(2417, 2577)]
15  chb08_21.edf                   1  [(2083, 2347)]

In [11]:
def get_start_sz_time(sz_info: pd.DataFrame, edf: str) -> float:
    """Get start time of seizure for given edf file.
    """
    import ast
    
    char_info = sz_info[sz_info['file_name'] == edf]['start_end_times'].to_numpy()[0]
    print(char_info)
    int_info = ast.literal_eval(char_info)[0][0]
    return int_info

sz_7_start_times = dict(zip(sz_info_7["file_name"].values, [0.0]*len(sz_info_7["file_name"].values)))

for edf in sz_info_7["file_name"].values:
    start_time = get_start_sz_time(sz_info_7, edf)
    print(start_time)
    sz_7_start_times[edf] = start_time

[(2670, 2841)]
2670
[(2856, 3046)]
2856
[(2988, 3122)]
2988
[(2417, 2577)]
2417
[(2083, 2347)]
2083

In [12]:
sz_7_start_times

{'chb08_02.edf': 2670,
 'chb08_05.edf': 2856,
 'chb08_11.edf': 2988,
 'chb08_13.edf': 2417,
 'chb08_21.edf': 2083}